.body{
    background-image: url(https://imgcdn.stablediffusionweb.com/2025/6/25/4a28ae2e-3172-4010-b8aa-a7a4adb965bc.jpg);
    
    background-size: 1700px;
}
#main_box{
    color:rgb(133, 25, 25);
    font-size: 60px;
    position: absolute;
    top:21%;
    left:31%;

    
}
#enter_city{
    position: absolute;
    top:40%;
    left:36%;
    height: 40px;
    width:180px;
    border: 1.5px solid #ddd;
  border-radius: 12px;
  outline: none;
  transition: 0.25s;
  background: rgba(123, 162, 148, 0.873);
  backdrop-filter: blur(4px);
}
#submit{
    position: absolute;
    top:40%;
    left: 50%;
    height: 40px;
    width:180px;
    border: 1.5px solid #ddd;
  border-radius: 12px;
  outline: none;
  transition: 0.25s;
  background: rgba(157, 137, 137, 0.873);
  backdrop-filter: blur(4px);
}

#info{
    font-size: large;
    color: rgb(120, 68, 0);
    position: absolute;
    top:60%;
    left:35%;
    width: 350px;
    padding: 16px 20px;
    margin-top: 14px;
    border-radius: 14px;

    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(8px);

    line-height: 1.6;

    border: 1.5px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 6px 18px rgba(0,0,0,0.25);

    transition: all 1.5s ease;
}



.hidden{
    display:none;
    opacity: 0%;
}

#fail{
    position: absolute;
    top:53%;
    left:40%;
    font-size: 30px;

}


